* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
}

.logo {
    width: 59px;
    height: 51px;
    margin-left: 227px;
}

.companyName {
    height: 32px;
    margin-left: 13px;
}

.BRAN {
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
}

.D {
    font-weight: 900;
    color: #f16d7f;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.buttonBrowse {
    width: 87px;
    height: 38px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
    margin-left: 37px;
}

.search {
    width: 317px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    text-align: start;
}

.buttonSubmit {
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
}

.basket {
    width: 32px;
    height: 29px;
    margin-left: 349px;
}

.buttonMyAccount {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    margin-left: 26px;
}

.disabledLink {
    text-decoration: none;
}

.nav {
    width: 1600px;
    height: 51px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuList {
    list-style: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    margin-left: 45px;
}

.menuLink {
    text-decoration: none;
    color: black;
}

.menuLink:hover {
    color: #f16d7f;
}

.mainPicture {
    width: 1600px;
    height: 614px;
    background-color: #e8e8e8;
    background-image: url(img/mainPicture.png);
    display: flex;
}

.mainPicture__text {
    width: 485px;
    margin-top: 209px;
    margin-left: 20px;
}

.mainPicture__text-THE-BRAND {
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
}

.mainPicture__text-OF-LUXERIOUS {
    font-family: Lato;
    font-size: 35px;
    font-weight: 900;
}

.mainPicture__text-FASHION {
    font-family: Lato;
    font-size: 35px;
    font-weight: 900;
    color: #f16d7f;
}

.promotions {
    width: 1140px;
    height: 823px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 230px;
    margin-top: 98px;
}

.promotions__men {
    background-image: url(img/promotions__men.png);
    width: 560px;
    height: 542px;
    background-color: #000000;
    margin-bottom: 20px;
    display: flex;
}

.promotions__women {
    width: 560px;
    height: 261px;
    background-color: #000000;
    background-image: url(img/promotions__women.png);
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
}

.promotions__accesories {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    background-image: url(img/promotions__accesories.png);
    display: flex;
}

.promotions__kids {
    width: 560px;
    height: 542px;
    background-color: #000000;
    background-image: url(img/promotions__kids.png);
    margin-left: 20px;
    display: flex;
}

.promotions__men-text {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.promotions__accesories-text {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.promotions__women-text {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}

.promotions__kids-text {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: 26px;
    padding-left: 19px;
    padding-top: 16px;
}


/*Section featureItems*/

.featuredItems {
    width: 1140px;
    margin-top: 100px;
    margin-left: 232px;
}

.featuredProducts {
    width: 1140px;
    height: 700px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featuredProducts__prod1 {
    position: relative;
    width: 263px;
    height: 364px;
    margin-bottom: 39px;
}

.featuredProducts__prod1:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.featuredProducts__prod1__link {
    display: block;
    text-decoration: none;
    position: absolute;
}

.featuredProducts__prod__img {
    height: 100%;
    width: 100%;
}

.featuredProducts__productName {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    margin-top: 19px;
    margin-left: 14px;
}

.featuredProducts__productCost {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin-top: 19px;
    margin-left: 14px;
}


/*Add to cart link*/

.featuredProducts__prod1__addToCart {
    display: none;
    text-decoration: none;
    position: absolute;
    left: 70px;
    bottom: 227px;
}

.featuredProducts__prod1__addToCart__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.featuredProducts__prod1:hover .featuredProducts__prod1__addToCart {
    display: block;
}

.featuredProducts__prod1:hover .featuredProducts__prod__img {
    filter: brightness(50%);
}